<nav class="w-full fixed flex justify-between items-center px-14 py-3 z-[9] tracking-tight">
    <div class="logo text-4xl font-medium tracking-[-.2vw]">
        Pet-care
    </div>
    <div class="flex gap-[3vw] text-[.9vw] capitalize tracking-tighter font-medium">
        <a href="">home</a>
        <a href="">about</a>
        <a href="">contact</a>
        <a href="">shop</a>
    </div>
    <div class="navCenter flex gap-[3vw] items-center text-[.9vw] capitalize tracking-tighter font-medium">
        <button class="capitalize">login</button>
        <button class="capitalize border-[1px] border-zinc-200 py-[6px] px-5">register</button>
    </div>
</nav>